.row
  .col-sm-12
    %ul.breadcrumb
      %li
        = link_to 'Головна', root_path
      %li.active Останні надходження
.row
  .col-lg-9
    = render 'visitors/slider'
    .center-block{style: 'width:143px; height: 78px'}
      #infinite-scrolling
        = will_paginate @series
      .btn-group.pull-left
        %a#load_more_titles.btn.btn-default
          %i.mdi-notification-sync{style: 'vertical-align: middle'}
          %span Більше
  .col-lg-3
    .panel.panel-info
      .panel-body
        .col-sm-6.col-md-6.col-lg-12
          .twitter-timeline-container{"data-widget-id" => "594955223694716928", "data-widget-options" => "#{ {lang: 'uk', tweetLimit: '3'}.to_json }"}
        .col-sm-6.col-md-6.col-lg-12
          #vk_groups
          :javascript
            VK.Widgets.Group("vk_groups", {mode: 0, width: "auto", height: "445", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 27070544);
        
