.row
  .col-sm-6.col-md-4
    .thumbnail
      %img{:alt => "...", :src => "http://placehold.it/425x604.jpg"}
        .caption
          %h3 Thumbnail label
          %p ...
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} Button
            %a.btn.btn-default{:href => "#", :role => "button"} Button
  .col-sm-6.col-md-4
    .thumbnail
      %img{:alt => "...", :src => "http://placehold.it/425x604.jpg"}
        .caption
          %h3 Thumbnail label
          %p ...
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} Button
            %a.btn.btn-default{:href => "#", :role => "button"} Button
  .col-sm-6.col-md-4
    .thumbnail
      %img{:alt => "...", :src => "http://placehold.it/425x604.jpg"}
        .caption
          %h3 Thumbnail label
          %p ...
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} Button
            %a.btn.btn-default{:href => "#", :role => "button"} Button
