@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(asset_path('glyphicons-halflings-regular.eot'));
    src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'),
         url(asset_path('glyphicons-halflings-regular.woff2')) format('woff2'),
         url(asset_path('glyphicons-halflings-regular.woff')) format('woff'),
         url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'),
         url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

@font-face {
    font-family: 'Material-Design-Icons';
    src: url(asset_path('Material-Design-Icons.eot?3ocs8m'));
    src: url(asset_path('Material-Design-Icons.eot?#iefix3ocs8m')) format('embedded-opentype'), url(asset_path('Material-Design-Icons.woff?3ocs8m')) format('woff'), url(asset_path('Material-Design-Icons.ttf?3ocs8m')) format('truetype'), url(asset_path('Material-Design-Icons.svg?3ocs8m#Material-Design-Icons')) format('svg');
    font-weight: normal;
    font-style: normal;
}