$nprogress-color: yellow;
$nprogress-height: 4px;
$nprogress-zindex: 100;

@import 'nprogress';
@import 'nprogress-bootstrap';

#nprogress .bar,
#nprogress .spinner {
  z-index: 999999;
}
#nprogress .bar {
  border-bottom: 1px solid #e4e4e4;
}