.main {

}
.open-post{

  .sup {
    margin-top: -50px;
  }
  .top-round {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .image {
    height:400px;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;

    .sign {
      color: white;
      font-size: 24px;
      font-weight: bold;
      padding: 20px;
      bottom: 0;
      position: absolute;
      background-color: rgba(30,30,30,0.85);
      width: 100%;
    }

  }
  .video-content {
    .list-of-episodes {
      border-bottom: 1px solid #e4e4e4;
      border-top: 1px solid #e4e4e4;
      a, a:hover {
        text-decoration: none!important;
        color: inherit!important;
      }

      padding: 5px;
      max-height: 428px;
      height: 428px;
      overflow-y: scroll;
      .panel {
        height: 70px;
        margin-bottom: 5px;
      }


      .media {
        .media-body{
          line-height: 10px;
          .media-heading{
            padding-top: 5px;
          }
          span {
            font-size: 10px;
          }
        }
      }

    }
  }

  .describe-items {
    .row {
      margin-bottom: 10px;

      h4 {
        margin-bottom: 0px;
      }
      span {
        color: #a4a4a4;
        font-size: 15px;
      }
    }


  }
}

.plotter-right {
  padding-right: 0px;
}
.plotter-left {
  padding-left: 0px;
}

.plotter-left-5 {
  padding-left: 5px;
}