.main {

}
.open-post{

  .sup {
    margin-top: -50px;
  }
  .top-round {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .image {
    height:400px;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;

    .sign {
      color: white;
      font-size: 24px;
      font-weight: bold;
      padding: 20px;
      bottom: 0;
      position: absolute;
      background-color: rgba(30,30,30,0.85);
      width: 100%;
    }

  }
  .video-content {

    .list-of-episodes {
      border-bottom: 1px solid #e4e4e4;
      border-top: 1px solid #e4e4e4;
      a, a:hover {
        text-decoration: none!important;
        color: inherit!important;
      }

      padding: 5px;
      max-height: 428px;
      height: 428px;
      overflow-y: scroll;
      .panel {
        font-size: inherit;
        text-transform: inherit;
        padding: 0px;
        width:auto;
        display: block;
        white-space: inherit;
        text-align: left;
        margin: 0;
        height: 70px;
        margin-bottom: 5px;
      }


      .media {
        .media-body{
          line-height: 10px;
          .media-heading{
            padding-top: 5px;
          }
          span {
            font-size: 10px;
          }
        }
      }

    }
  }

  .describe-items {
    .row {
      margin-bottom: 15px;
      line-height: 16px;
      vertical-align: top;
      div {
        margin-bottom: 4px;
      }

      h5 {
        margin-bottom: 0px;
      }
      span.titles {
        color: #333;
        font-weight: bold;
      }
      span {
        color: #a4a4a4;
        font-size: 14px;
        a {
          opacity: 0.7;
        }
      }
    }


  }
}

.plotter-right {
  padding-right: 0px;
}
.plotter-left {
  padding-left: 0px;
}

.plotter-left-5 {
  padding-left: 5px;
}
.plotter-right-5 {
  padding-right: 5px;
}


.settings-panel {
  .panel {
    .panel-body {
      .list-group-item {
        padding-top: 5px;
      }
      height: 380px;
      .row-action-primary {
        i {
          font-size: 48px;
        }
      }
    }
  }

}

.download-panel {

  .special-button {
    text-transform: initial;
    text-align: left;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
  }

  .panel {
    .panel-body {
      .list-group-item {
        .row-action-primary {
          i {
            background-color: white;
            border: 2px solid #e4e4e4;
            line-height: 50px;
            padding-top:0;
          }
        }

        .torrent {
          color: #a5d6a7!important;
        }
        .ex-ua {
          color: #c4c4c4;
        }
        .vk-com {
          color: #29b6f6!important;
        }

        padding-top: 5px;
        .list-group-item-heading {
          font-size: 14px;
          font-weight: bold;
        }

        .list-group-item-text {
          font-size: 12px;
        }


      }
      .row-action-primary {
        i {
          font-size: 48px;
        }
      }
    }
  }
}


.active_episode {
  background-color: rgba(0,0,255,0.15)!important
}