.post {

  .round-sizer {
    top:12px;
  }

  .panel {
    height: 354px;

  }
  .post-image {
    display: table-cell!important;
    padding-left: 0px;
    padding-right: 0px;
    .image {
      height:354px;
      width:250px;
      background-size:cover;
      background-repeat: no-repeat;
    }

  }
  .post-content {
    padding-left: 0px;
    padding-right: 0px;
    display: table-cell!important;
    vertical-align: top;

    .post-heading {
      border-left: 2px solid #eee;
      min-height: 60px;
      padding: 20px;
      font-size: 17px;
      font-weight: bold;
      background: #eee;
      line-height: 15px;

      .title, .additional {
        padding-left: 0;
        padding-right: 0;
      }

    }
    .post-body {
      padding: 20px;
      padding-top: 35px;
      height: 310px;

      .ellipsis {
        overflow: hidden;
        height: 200px;
      }
      .labels {
        i {
          vertical-align:  middle;
        }
        padding-top: 20px;
      }
    }
  }
}


@media (max-width: 991px) {
  .post {

    .panel {
      height: 300px;
    }
    .post-image {
      .image {
        height: 300px;
        width: 200px;
      }
    }
    .post-content {
      .post-heading, i {
        font-size: 16px!important;
      }
      .post-body {
        .ellipsis {
          height: 120px;
        }
        .labels {
          i {
            vertical-align:  middle;
          }
          padding-top: 45px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .post {
    .round-sizer {
      top: 17px;
      padding: 10px;
      height: 45px;
      width: 45px
    }
    .panel {
      height: 180px;

    }

    .post-image {
      .image {
        height: 180px;
        width: 120px;
      }
    }
    .post-content {
      .post-heading, i {
        font-size: 12px!important;
      }

      .post-body {
        font-size: 10px!important;
        padding-top: 25px;

        .ellipsis {
          height: 56px;
        }
        .labels {
          i {
            vertical-align:  middle;
          }
          padding-top: 15px;
        }

      }
    }

  }
}

@media (max-width: 479px) {
  .container {
    padding-right: 0px!important;
    padding-left: 0px!important;
  }
  .post {
    .panel {
      height: 160px;
    }
    .post-image {
      .image {
        height: 160px;
        width: 100px;
      }
    }
    .post-content {
      .post-heading, i {
        font-size: 10px!important;
        line-height: 10px;
      }
      .post-body {
        padding-top: 25px;
        line-height: 12px;
        font-size: 10px!important;

        .ellipsis {
          height: 36px;
        }
        .labels {
          i {
            vertical-align:  middle;
          }
          padding-top: 15px;
        }

      }
    }

  }
}

