.post {

  .round-sizer {
    top:12px;
  }
  .panel {
    height: 354px;
  }
  .post-image {
    display: table-cell!important;
    padding-left: 0px;
    padding-right: 0px;
    .image {
      height:354px;
      width:260px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

  }
  .post-content {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    display: table-cell!important;
    vertical-align: top;

    .post-heading {
      border-left: 2px solid #eee;
      min-height: 60px;
      padding: 20px;
      font-size: 17px;
      font-weight: bold;
      background: #eee;
      line-height: 15px;

      .title, .additional {
        padding-left: 0;
        padding-right: 0;
      }

    }
    .post-body {
      padding: 20px;
      padding-top: 25px;
      padding-right: 45px;
      height: 310px;
      .episode {
        padding-bottom: 10px;
        i {
          vertical-align: middle;
        }
      }
      .ellipsis {
        overflow: hidden;
        height: 174px;
        text-align: justify;
        position: relative;
      }
      .labels {
        i {
          vertical-align:  middle;
        }
        padding-top: 20px;
      }
    }
  }
}

@media (max-width: 991px) {
  .post {

    .panel {
      height: 300px;
    }
    .post-image {
      .image {
        height: 300px;
        width: 220px;
      }
    }
    .post-content {
      .post-heading {
        font-size: 16px!important;
      }
      .post-body {
        padding-right: 25px;
        .ellipsis {
          height: 110px;
        }
        .labels {
          i {
            vertical-align:  middle;
            font-size: 16px!important;
          }
          padding-top: 35px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .post {
    .round-sizer {
      top: 20px;
      padding: 8px;
      height: 42px;
      width: 42px;
    }
    .panel {
      height: 180px;

    }

    .post-image {
      .image {
        height: 180px;
        width: 132px;
      }
    }
    .post-content {
      .post-heading {
        font-size: 12px!important;
        line-height: 12px;
      }

      .post-body {
        font-size: 10px!important;
        padding-top: 10px;

        .ellipsis {
          height: 38px;
        }
        .labels {
          i {
            vertical-align:  middle;
            font-size: 12px!important;
          }
          padding-top: 15px;
        }

      }
    }

  }
}

@media (max-width: 479px) {
  .container {
    padding-right: 0px!important;
    padding-left: 0px!important;
  }
  .post {
    .round-sizer {
      top: 8px;
      padding: 4px;
      height: 30px;
      width: 30px;
      font-size: 20px;
    }
    .panel {
      height: 160px;
    }
    .post-image {
      .image {
        height: 160px;
        width: 117px;
      }
    }
    .post-content {
      .post-heading {
        font-size: 10px!important;
        line-height: 10px;
        padding:10px;
        min-height: 34px;
      }
      .post-body {
        padding-top: 10px;
        padding-right: 15px;
        line-height: 12px;
        font-size: 10px!important;

        .ellipsis {
          height: 48px;
        }
        .labels {
          i {
            vertical-align:  middle;
            font-size: 10px!important;
            line-height: 10px;
          }
          padding-top: 15px;
        }

      }
    }

  }
}

