.well {
  .form-group {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
  }
}
.field.episode-section {
  margin: 15px;
  margin-bottom: 0px;
  border: 4px dashed #e4e4e4;
  padding: 15px;
  padding-bottom: 0;
}