@-webkit-keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

.hover-tile {
  padding:0;
  border-radius:3px;
  display:inherit;
  margin:0;
  text-transform: none;
  white-space:normal;
  .cover-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    display: block;
    height: 320px;
  }
  .inside-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 320px;
  }
}

.tile-block {
  opacity: 1;
  background-color: #fefefe;
  transition: all .1s ease-in-out;
}
.tile-block:hover {
  opacity: 1;
  background-color: #fff;
  transition: all .1s ease-in-out;
  transform: scale(1.005);
  box-shadow: 0px 0px 25px #000000;
}

.corner {
  position: absolute;
  z-index: 2;
  top: -26px;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 75%;
  margin-left: -15px;
}
.padding-div{
  padding:15px;
}
h4.tall{
  margin-top: 0;
  white-space: normal;
  height:36px
}
span.big{
  font-size:20px
}
.last-ep-name {
  height:28px;
  line-height: 18px
}
.views-section {
  height:20px;
}
.views-span {
  color: #a0a0a0;
  font-size:14px;
  padding-top:6px
}
.days-span {
  color: #a0a0a0;
  font-size:12px;
  padding-top:10px
}
//Anime finished
.corner-category_4 {
  background-image: url(asset-path("corner/finished.png"));
}
//Anime current
.corner-category_5 {
  background-image: url(asset-path("corner/a-current.png"));
}
//Anime ongoing
//.corner-category_5 {
//  background-image: url(asset-path("corner/ongoing.png"));
//}
//Anime not ongoing
//.corner-category_6 {
//  background-image: url(asset-path("corner/not-ongoing.png"));
//}
//Anime OVA
.corner-category_7 {
  background-image: url(asset-path("corner/ova.png"));
}
//Anime movie
.corner-category_8 {
  background-image: url(asset-path("corner/a-movie.png"));
}
//Movie
.corner-category_3 {
  background-image: url(asset-path("corner/movie.png"));
}
//Series
.corner-category_2 {
  background-image: url(asset-path("corner/series.png"));
}

//Short movie
.corner-category_9 {
  background-image: url(asset-path("corner/s-movie.png"));
}

