@-webkit-keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

  .cover-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    display: block;
    height: 320px;
  }
  .inside-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 320px;
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 2s;
    
  }
