.inside-image{style: "background-image: url('#{cover.url.sub('/upload/', '/upload/c_scale,w_320/')}');background-size:cover;background-position: 100% 5%"}
.corner{class: "corner-category_#{category_id}"}