.download-panel
  .panel.panel-info
    .panel-body
      %h4 Download
      .list-group
        = link_to '#', class: 'btn special-button' do
          .list-group-item
            .row-action-primary
              %i.mdi-file-cloud-circle.mdi-material-green-500
            .row-content
              .action-secondary
                %i.mdi-file-file-download
              %h4.list-group-item-heading
                \.torrent
              %p.list-group-item-text Гуртом.нет
        .list-group-separator
        = link_to '#', class: 'btn special-button' do
          .list-group-item
            .row-action-primary
              %i.mdi-notification-folder-special
            .row-content
              .action-secondary
                %i.mdi-file-file-download
                %i.mdi-action-visibility
              %h4.list-group-item-heading Ex.ua
              %p.list-group-item-text онлайн та скачування
        .list-group-separator
        = link_to '#', class: 'btn special-button' do
          .list-group-item
            .row-action-primary
              %i.mdi-social-people.mdi-material-blue-500
            .row-content
              .action-secondary
                %i.mdi-action-visibility
              %h4.list-group-item-heading Vk.com
              %p.list-group-item-text онлайн перегляд

