%ul.breadcrumb
  %li
    %a{:href => "#"} Home
  %li
    %a{:href => "#"} Library
  %li.active Data

%p#notice= notice

%p
  %b Name:
  = @series.name

= link_to 'Edit', edit_series_path(@series)
\|
= link_to 'Back', series_index_path
