:javascript
	if (window.top !== window.self) window.top.location.replace(window.self.location.href);

	window.tryFirePostponedFunc = function(requiredFlags, func) {
	
	    if (!(Object.prototype.toString.call(window.initializationFlags) === '[object Array]'))
	        return;
	    var i, len = requiredFlags.length;
	    for (i = 0; i < len; i++)
	        if (myInArray(requiredFlags[i], window.initializationFlags) < 0)
	            return;
	    func();
	    return true;
	};
	
	window.addPostponedFunc = function(requiredFlags, func) {
	    if (tryFirePostponedFunc(requiredFlags, func))
	        return;
	    window.funcRequirements = window.funcRequirements || [];
	    window.funcRequirements.push({
	        flags: requiredFlags,
	        func: func
	    });
	};
	
	window.firePostponedFuncs = function() {
	    for (var funcIndex in window.funcRequirements) {
	        if (tryFirePostponedFunc(window.funcRequirements[funcIndex].flags, window.funcRequirements[funcIndex].func))
	            delete window.funcRequirements[funcIndex];
	    }
	}
	
	window.addInitializationFlag = function(flag) {
	    window.initializationFlags = window.initializationFlags || [];
	    window.initializationFlags.push(flag);
	    firePostponedFuncs();
	}
	
	function myInArray( elem, array ) {
		if ( array.indexOf ) {
			return array.indexOf( elem );
		}

		for ( var i = 0, length = array.length; i < length; i++ ) {
			if ( array[ i ] === elem ) {
				return i;
			}
		}

		return -1;
	}
	
%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
:javascript
	(adsbygoogle = window.adsbygoogle || []).push({
		google_ad_client: "ca-pub-1844923274893753",
		enable_page_level_ads: true
	});
