.panel.panel-info
  .panel-body
    %ul.nav.nav-tabs{:style => "margin-bottom: 15px;"}
      %li.active
        %a{"data-toggle" => "tab", :href => "#vk"} Вконтакті
      %li
        %a{"data-toggle" => "tab", :href => "#google"} Google +
      %li.disabled
        %a Facebook
    
    #myTabContent.tab-content
      #vk.tab-pane.fade.active.in
        %p
          %script{:src => "//vk.com/js/api/openapi.js?116", :type => "text/javascript"}
          :javascript
            VK.init({apiId: 4878932, onlyWidgets: true});
          #vk_comments
          :javascript
            VK.Widgets.Comments("vk_comments", {limit: 10, width: "665", attach: "*"});
      #google.tab-pane.fade
        %p
          %div#etalon{style: "width:100%;background-image: url('#{asset_path('add_comment.png')}');background-repeat: no-repeat;background-size: 61%;background-position: center bottom;"}
            %script{:src => "https://apis.google.com/js/plusone.js"}
            #comments
            :javascript
              window.___gcfg = {lang: 'uk'};(function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = '//apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();
      
              $(document).ready(function(){
                if ($('#etalon').length == 0)
                  return null;
                setTimeout(function() {
                 var w=document.getElementById('etalon').offsetWidth;
      
                 gapi.comments.render('comments', {
                    href: window.location,
                    width: w,
                    height: '200',
                    first_party_property: 'BLOGGER',
                    view_type: 'FILTERED_POSTMOD'
                 });
      
                }, 1000);
              })
    
      #facebook.tab-pane.fade
        %p В розробці

:css
  #comments div[id^='___comments_'], #comments div[id^='___comments_'] iframe {
    width: 100% !important;
  }
