.panel.panel-info
  .panel-body
    %ul.nav.nav-tabs{:style => "margin-bottom: 15px;"}
      %li.active
        %a{"data-toggle" => "tab", :href => "#vk"} Коментарі Вк

    #myTabContent.tab-content
      #vk.tab-pane.fade.active.in{ "data-turbolinks-eval" => "always" }
        %p
          %script{:src => "//vk.com/js/api/openapi.js?116", :type => "text/javascript", "data-turbolinks-eval" => "always"}
          :javascript
            VK.init({apiId: 4878932, onlyWidgets: true});
          #vk_comments("data-turbolinks-eval" => "always")
            :javascript
              VK.Widgets.Comments("vk_comments", {autoPublish: 0, limit: 5, width: "auto", attach: "graffiti,photo,video,audio"});
:css
  #comments div[id^='___comments_'], #comments div[id^='___comments_'] iframe {
    width: 100% !important;
  }
