.panel.panel-info
  .panel-body
    %ul.nav.nav-tabs{:style => "margin-bottom: 15px;"}
      %li.active
        %a{"data-toggle" => "tab", :href => "#fb"} Коментарі Фб

    #myTabContent.tab-content
      #fb.tab-pane.fade.active.in{ "data-turbolinks-eval" => "always" }
        %p
          .fb-comments{"data-href" => "#{request.url}", "data-numposts" => "5"}
