.navbar.navbar-info
  .container.container-top
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.visible-xs-block{:href => "javascript:void(0)"} UkrDub
    .navbar-collapse.collapse.navbar-responsive-collapse
      .col-lg-9
        %ul.nav.navbar-nav
          %li.visible-xs.dropdown
            = render 'layouts/profile_menu'
          %li.active
            %a{:href => "javascript:void(0)"} Home
          %li
            %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "bootstrap-elements.html"}
              Anime
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "javascript:void(0)"} Action
              %li
                %a{:href => "javascript:void(0)"} Another action
              %li
                %a{:href => "javascript:void(0)"} Something else here
              %li.divider
              %li.dropdown-header Dropdown header
              %li
                %a{:href => "javascript:void(0)"} Separated link
              %li
                %a{:href => "javascript:void(0)"} One more separated link
          %li
            %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "bootstrap-elements.html"}
              Series
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "javascript:void(0)"} Action
              %li
                %a{:href => "javascript:void(0)"} Another action
              %li
                %a{:href => "javascript:void(0)"} Something else here
              %li.divider
              %li.dropdown-header Dropdown header
              %li
                %a{:href => "javascript:void(0)"} Separated link
              %li
                %a{:href => "javascript:void(0)"} One more separated link
          %li
            %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "bootstrap-elements.html"}
              Films
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "javascript:void(0)"} Action
              %li
                %a{:href => "javascript:void(0)"} Another action
              %li
                %a{:href => "javascript:void(0)"} Something else here
              %li.divider
              %li.dropdown-header Dropdown header
              %li
                %a{:href => "javascript:void(0)"} Separated link
              %li
                %a{:href => "javascript:void(0)"} One more separated link
          %li.dropdown
            %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "bootstrap-elements.html"}
              Other
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "javascript:void(0)"} Action
              %li
                %a{:href => "javascript:void(0)"} Another action
              %li
                %a{:href => "javascript:void(0)"} Something else here
              %li.divider
              %li.dropdown-header Dropdown header
              %li
                %a{:href => "javascript:void(0)"} Separated link
              %li
                %a{:href => "javascript:void(0)"} One more separated link
      .col-lg-3.pull-right.visible-lg
        .content-info
          .total-publications Total publications: 72
          .total-episodes Episodes: 1478