%a.dropdown-toggle{"aria-expanded" => "false", "data-target" => "#", "data-toggle" => "dropdown", :href => "bootstrap-elements.html"}
  %img.img-circle.profile-icon{:alt => "icon", :src => "http://lorempixel.com/30/30/people/1"}
  %span.your-email osyaroslav@gmail.com
  %b.caret.make-me-super
  .ripple-wrapper
%ul.dropdown-menu
  %li
    %a{:href => "javascript:void(0)"} Action
  %li
    %a{:href => "javascript:void(0)"} Another action
  %li
    %a{:href => "javascript:void(0)"} Something else here
  %li.divider
  %li
    %a{:href => "javascript:void(0)"} Separated link
