.panel.panel-info
  .panel-body
    %h4 Last comments
    .list-group
      .list-group-item
        .row-picture
          %img.circle{:alt => "icon", :src => "http://lorempixel.com/56/56/people/1", height: 30}
        .row-content
          %h5.list-group-item-heading Fairy Tail
          %p.list-group-item-text Best anime ever, but who knows.
      .list-group-separator
      .list-group-item
        .row-picture
          %img.circle{:alt => "icon", :src => "http://lorempixel.com/56/56/people/6", height: 30}
        .row-content
          %h5.list-group-item-heading OreGairu
          %p.list-group-item-text Perfect circle to be the one of the children who lives in that kind of series.
      .list-group-separator
      .list-group-item
        .row-action-primary.checkbox
          %label
            %input{:type => "checkbox"}/
        .row-content
          %h5.list-group-item-heading Do you like the site?
          %p.list-group-item-text Please check the box if everything is ok
      .list-group-separator

