.site-top
  .container.visible-sm-block.visible-md-block.visible-lg-block.container-top
    .navbar.navbar-info.remove-margin
      = image_tag 'UkrDub-logo.png', height: 150
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          = render 'layouts/profile_menu'
  .clearfix
  .container.container-top
    .col-md-9
      .search
        .form-group-white
          .input-group
            %input.form-control.big-form-control{type: "text", placeholder: 'Search here' }
              %span.input-group-btn.in-component
                %a.btn.btn-white.btn-fab.btn-raised{:href => "javascript:void(0)"}
                  %i.glyphicon.glyphicon-search{style: 'padding-top:5px'}
    .col-md-3


